@model IEnumerable<TabOrganizer___WebApp.Models.Container>



    @foreach (var container in Model)
    {
        <!-- Card -->
        <div class="card promoting-card">
            @*@Html.Hidden("containerId", container.Id)*@
            <!-- Card content -->
            <div class="card-body d-flex flex-row" data-container-id="@container.Id">
                <!-- Content -->
                <div>
                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">@container.Name.Substring(0, Math.Min(container.Name.Length, 17))</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i class="far fa-clock pr-2"></i>@container.DateCreation</p>
                    <p class="card-text"><i class="far fa-clock pr-2"></i>Websites: @container.Websites.Count</p>
                </div>

            </div>

            <!-- Card image -->
            <div class="view overlay">
                @*<img class="card-img-top" src="../img/thumb_image.jpg" alt="Card image cap">*@
                <a asp-controller="website" asp-action="getwebsites" asp-route-id="@container.Id">
                    <div class="card-img-top">
                        <p class="card-text">
                            @{
                                if (!String.IsNullOrEmpty(@container.Description))
                                    @container.Description.Substring(0, Math.Min(container.Description.Length, 183));}

                        </p>
                    </div>
                </a>
                @*<div class="mask rgba-white-slight"></div>*@
            </div>

            <!-- Card content -->
            @*<div class="card-body">*@

            @*<div class="collapse-content">*@

            <!-- Text -->
            @*<p class="card-text collapse">@container.Description</p>*@
            <!-- Button -->
            @*<a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>*@
            @*<i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>*@
            @*<i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>*@

            @*</div>*@

            @*</div>*@

        </div>
        <!-- Card -->
    }